@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #483c5c;
  background: -webkit-linear-gradient(
      rgba(39, 43, 80, 0.8),
      rgba(110, 93, 98, 0.8)
    ),
    url("images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  text-align: center;
  margin: 30px 50px 20px 50px;
}

.user-img {
  border-radius: 50px;
  max-width: 100px;
  box-shadow: 0 0 10px 3px #000000;
}

main h1 {
  color: #fafafa;
  font-size: 1.2rem;
  text-shadow: 2px 2px 5px #000000;
  margin: 0.5em 0 1.5em 0;
}

.link {
  height: 50px;
  width: 100%;
  background-color: #9e12d6;
  box-shadow: 0 0 10px 3px #000000;
  margin-top: 1.3rem;
  transform: skewX(-45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.link span {
  transform: skewX(45deg);
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

@media screen and (min-width: 500px) {
  body {
    padding: 20px 50px;
  }
}

@media screen and (min-width: 800px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  main {
    min-width: 800px;
    padding: 20px 50px;
  }
}
